html {
    scroll-behavior: smooth;
}

.index {
    margin-top: 55px;
    font-family: 'Playfair Display SC', ;
    background-color: #100F11;
    max-width: 100%;
    overflow-x: hidden;
}

.serif {
    font-family: 'Playfair Display',
        serif;
}

/***********************************************************
------------------------MENU-------------------------------*/

.navbar-mio {
    background-color: rgb(16, 15, 17);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.nav-link {
    font-size: 1rem;
}


#logo-menu {
    max-width: 100px;
}


/***********************************************************
--------------------DIV IMG-------------------------------*/


#bg-img {
    background-image: url(../img/imagenhome.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 17rem;
    display: flex;
    align-items: center;
    height: 100vh;
}

.logo-bio {
    margin-top: 7rem;
    margin-bottom: 1rem;
    width: 70%;
    height: auto;
}

.text-bio {
    max-width: 750px;
    margin: auto;
    color: white;
}

.redes {
    position: absolute;
    bottom: 60px;
    right: 60px;
    display: none;
}

@media (min-width: 1200px) {

    .redes {
        display: block;
    }
}
/***********************************************************
********************MUSIC**********************************/

#bg-music {
    background-color: white;
    color: rgb(114, 113, 113);
    text-align: left;
    padding-top: 4rem;
}

#bg-snake {
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-image: url(../img/vibora.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.disc1,
.disc2 {
    border: 10px solid white;
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}


.title-album,
.title-album2 {
    color: #1d1c21;
    font-size: 40px;
    font-family: 'Playfair Display', serif;

}

.text-album {
    font-size: 1rem;
    line-height: 30px;
}

.credits {
    font-size: 12.5px;
    color: #1d1c21;
    margin-top: 1rem;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


/***********************************************************
********************SHOWS***********************************/

#bg-shows {
    padding: 8rem 0;
    background-color: rgb(16, 15, 17);
    text-align: center;
}

.title-shows {
    color: white;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
}

/***********************************************************
********************MERCH**********************************/

#tienda {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: white;
}

.title-merch {
    padding-bottom: 1rem;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.5rem;
    text-align: center;
}

.title-pasos {
    color: #912F2F;
    margin-bottom: 1rem;
}

.pasos-compra {
    margin: auto;
    margin-top: 2rem;
    padding: 3rem;
}

.btn-merch {
    background-color: #912F2F;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
    letter-spacing: 1px;
}

.btn-merch:hover {
    background-color: black;
    color: white;
}

.btn-news:hover {
    background-color: transparent;
    border: 1px solid #912F2F;
    color: #912F2F;
}

.stock {
    color: green;
}

.out-stock {
    color: #912F2F;
}

.card {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.como-comprar {
    max-width: 900px;
    margin: auto;
    margin-bottom: 2rem;
}

/***********************************************************
********************CONTACT*******************************/

#bg-contact {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(16, 15, 17);
    text-align: center;
}

.title-contact {
    margin-bottom: 4rem;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.5rem;
    color: white;
    text-align: center;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin: auto;
}

#btn-send {
    border: 1px solid white;
    color: white;
    margin: 1rem auto 0rem auto;
}

.bmc {
    max-width: 40%;
    text-align: left;
}

/***********************************************************
********************FOOTER************************************/

.footer {
    background-color: rgb(24, 23, 26);
    color: white;
}

.footer-copyright {
    font-size: small;
    background-color: rgb(0, 0, 0);
}

.footer-copyright a {
    color: #818080;
}

/***********************************************************
********************BUTTONS AND LINKS************************/

a {
    color: rgb(114, 113, 113);
    text-decoration: none;
}

#btn-tickets,
.btn-mail {
    background-color: transparent;
    border: white solid 1px;
    color: white;
}

#btn-tickets,
.btn-news {
    width: 100%;
}

#btn-tickets:hover,
#btn-bio:hover,
.btn-mail:hover,
#btn-send:hover {
    background-color: white;
    color: rgb(197, 38, 38);
    border: white solid 1px;
}

hr {
    background-color: rgb(114, 113, 113);
}

.a-redes {
    color: white;
    padding-right: 10px;
}


.a-redes:hover,
a:hover {
    color: rgb(197, 38, 38);
}

/***********************************************************
********************RESPONSIVE*****************************/


@media (max-width: 767px) {
    #bg-img {
        height: 600px;
    }

    .disc1 {
        height: 290px;
    }

    .disc2 {
        height: 290px;
    }

    .footer {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .logo-bio {
        width: 50%;
        height: auto;
    }
}

/***********************************************************
********************MODALS*********************************/

.input-group-prepend {
    padding-bottom: 1rem;
}


/***********************************************************
********************COVID**********************************/

#covid19 {
    background-color: orange;
    padding: 1rem;
}



/***********************************************************
********************ÉXITO FORMS*****************************/

#formulario {
    background-image: url(../img/imagenhome.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 17rem;
}

.form-exito {
    margin: auto;
    text-align: center;
    margin-top: 11rem;
    border-radius: 1rem;
}

/***********************************************************
********************ÉXITO FORMS*****************************/

.title {
    color: white;
    font-size: 55px;
}

.download {
    font-size: 16px;
    color: rgb(197, 38, 38);
    text-decoration: noen;
}

.download:hover {
    color: rgb(197, 38, 38);
    text-decoration: none;
}

#bg-epk {
    background-image: url("../img/imagenhome.jpg");
    background-color: black;
    background-blend-mode: difference;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 17rem;
}

#bg-epk .container {

    padding-top: 2rem;

}


/***********************************************************
********************PATREONS 1******************************/


#patreons .card {
    background-color: #fac43d;
    color: black;
    border-radius: 0px;
    font-size: 14px;
}



#patreons li {
    background-color: #fac43d;
    color: black;
}


.tag {
    background-color: black;
}


/***********************************************************
********************PATREONS*******************************/


body {
    font-family: 'Libre Franklin',
        sans-serif;
}

#patreons {
    padding: 4rem 0rem 5rem 0rem;
    color: white;
}

#patreons h1 {
    font-size: 50px;
    font-weight: 700;
}

#patreons p {
    font-size: 16px;
    line-height: 1.5rem;
}


#patreons a {
    font-size: 18px;
    color: #fac43d;
    font-weight: 600;
    text-decoration: none;
}

#top_patreons {
    padding: 4rem 0rem 4rem 0rem;
    background-color: white;
}